<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Hans-Jörg Bibiko</string>
	<key>category</key>
	<string>Format</string>
	<key>command</key>
	<string>#!/usr/bin/env php
&lt;?php

$contents = stream_get_contents(STDIN);

$contents = str_replace(['\n', '\t', '\r'], ["\n", "\t", "\r"], $contents);

echo $contents;</string>
	<key>contact</key>
	<string>znvy@ovovxb.qr</string>
	<key>defaultBundleWasModified</key>
	<true/>
	<key>description</key>
	<string>If the first line of the selection or the entire content of the current text input field only contains a "{" then serialize the JSON data otherwise the JSON data will be pretty printed. If there's a need to preserve the Unicode characters you can uncomment the line 22.

Version 1.0</string>
	<key>input</key>
	<string>selectedtext</string>
	<key>input_fallback</key>
	<string>entirecontent</string>
	<key>internalKeyEquivalent</key>
	<dict>
		<key>characters</key>
		<string>J</string>
		<key>keyCode</key>
		<integer>38</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>isDefaultBundle</key>
	<true/>
	<key>keyEquivalent</key>
	<string>~@j</string>
	<key>name</key>
	<string>Apply Visible Whitespace</string>
	<key>output</key>
	<string>replaceselection</string>
	<key>scope</key>
	<string>inputfield</string>
	<key>tooltip</key>
	<string>Serialize or pretty print JSON data</string>
	<key>uuid</key>
	<string>6DAFC2A0-DC0A-4F03-B0FC-C3418F26ECF4</string>
</dict>
</plist>
